@media screen and (max-width: 768px) {
.navbar {
    flex-direction: column;
}
.navLinks {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo {
 display: flex;
 justify-content: center;
 padding: 0px;
}
h1{
    margin: 8px;
}
a.active {
    border-top: none;
    border-bottom: 3px solid var(--chart-color);
}
.navLinkAccomodations, .navLinkActivities {
    display: flex;
    margin: 5px;
    flex-basis: 50%;
    justify-content: center;
}
.navLinkActivities {
    padding: 20px;
}
.filtersContainer {
    flex-direction: column;
    align-items:flex-start;
}
.accomodationsWrapper {
    flex-direction: column-reverse;
}
.accomodationMaps, .mostPopularMaps {
    justify-content: center;
}
.col-left {
    background-color: white;
}
.container {
    flex-direction: column;
}
}