:root {
    --main-gray-bg-color: #F2F2F2;
    --main-gray-border-color: #b7b7b7;
    --chart-color: #0065FC;
    --lighter-chart-color: #DEEBFF;
    --main-font-family: 'Raleway', sans-serif;
}

body {
    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 400;
}
header,
main {
    max-width: 992px;
    display: block;
    margin: auto;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: var(--chart-color);
}
a.active {
    border-top: 3px solid var(--chart-color);
    color: var(--chart-color);
}
li {
    list-style: none;
    margin-bottom: 7px;
}
h1{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 0;
}
h2, h3 {
    padding: 10px;
    margin: 10px;
}
footer {
    display: block;
    width: auto;
    margin: auto;
    padding: 5px;
    margin-top: 20px;
    background-color: var(--main-gray-bg-color);
}
footer div {
    margin-right: 50px;
}
ul {
    padding: 5px
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}
.logo {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 20px;
}
.navLinks {
    display: flex;
    justify-content:flex-end;
}
.navLinkAccomodations {
    margin: 15px;
    padding: 20px;
}
.navLinkActivities {
    margin: 15px;
    padding: 23px;
}
.form {
    display: inline-flex;
    align-items: center;
    margin: 15px 0 15px 0;
}
.form span {
    height: 14px;
    padding: 5px 0px 5px 6px;
    background-color: var(--main-gray-bg-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid var(--main-gray-bg-color);
}
.form input {
    height: 16px;
    padding: 4px 10px 4px 4px;
    border-left:none;
    border-right: none;
    border-top: 2px solid var(--main-gray-bg-color);
    border-bottom: 2px solid var(--main-gray-bg-color);
}
input:focus {
    outline: none;
}
.form a.button {
    padding: 4px 4px 4px 4px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--chart-color);
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid var(--chart-color);
    position: relative;
    left: -7px;
}
.form a.button:hover {
    background-color: var(--lighter-chart-color);
    color: var(--chart-color);
    border: 2px solid var(--lighter-chart-color);
    font-weight: 600;
}
.smallText {
    font-size: 11px;
    margin: 10px 0px;
}
.smallText i {
    padding: 4px 8px;
    margin: 2px;
    border: 1px solid var(--main-gray-border-color);
    border-radius: 50%;
}
.filtersContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.filtersContainer span {
    margin-top: 10px;
    margin-bottom: 10px;
}
.filterButtonText {
    border-top: 2px solid var(--main-gray-bg-color);
    border-right: 2px solid var(--main-gray-bg-color);
    border-bottom: 2px solid var(--main-gray-bg-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 800;
    padding: 5px 12px 5px 16px;
    margin: 10px 10px 10px 0;
    position: relative;
    left: -12px;
}
.filterButtonIcon {
    border: 1px solid var(--lighter-chart-color);
    border-radius: 50%;
    background-color: var(--lighter-chart-color);
    padding: 5px;
    margin: 10px 0px 10px 10px;
}
.filterButtonText:hover {
    border-top: 1px solid var(--chart-color);
    border-right: 1px solid var(--chart-color);
    border-bottom: 1px solid var(--chart-color);
    color: var(--chart-color);
}
.filterButtonIcon:hover {
    border: 1px solid var(--chart-color);
}

.accomodationsWrapper {
    display: flex;
    height: auto;
}
.styleWrapper {
    padding: 7px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--main-gray-bg-color);
}
.col-left {
    flex-basis: 70%;
    display: flex;
    flex-wrap: wrap;
}
.col-right {
    flex-basis: 30%;
}
.popularAccomodation {
    display: flex;
    justify-content: space-between;
}

.accomodationMaps, .mostPopularMaps {
    display: flex;
    flex-wrap: wrap;
}
.accomodationMap {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-between;
}
.accomodationMaps > a {
    background-color: white;
    border: 7px solid white;
    border-radius: 25px;
    flex-basis: 30%;
    box-sizing:border-box;
    margin: 5px;
    text-align: left;
    line-height: 20px;
}

.accomodationMap img {
    display: flex;
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.mostPopularMap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.mostPopularMaps a {
    background-color: white;
    border: 4px solid white;
    border-radius: 15px;
    margin: 5px;
    width: 270px;
    text-align: left;
    line-height: 18px;
}
.mostPopularMap img {
    display: flex;
    object-fit: cover;
    width: 115px;
    height: 115px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 5px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.space {
    padding-top: 5px;
}
.activitiesMapsWrapper {
    display: flex;
    flex-wrap: wrap;
}
.rowTwo, .rowOne {
    display: flex;
    flex-direction:column;
}
.activitiesMapWrapper, 
.activitiesMapWrapperSmaller, 
.activitiesMapWrapperSmall, 
.activitiesMapWrapperMiddle {
    margin: 8px;
    border-radius: 10px;
    background-color: white;
    width: 230px;
    border-radius: 20px;
    box-shadow: 8px 8px 20px  var(--main-gray-bg-color);
}
.activitiesMapWrapper {
    height: 395px;
}
.activitiesMapWrapperSmaller {
    height: 230px;
}
.activitiesMapWrapperSmall {
    height: 145px;
}
.activitiesMapWrapperMiddle {
    height: 190px;
}

.activitiesImgWrapper,
.activitiesImgWrapperSmaller, 
.activitiesImgWrapperSmall,
.activitiesImgWrapperMiddle {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}
.activitiesImgWrapper {
    height: 350px;
}
.activitiesImgWrapperSmaller {
    height: 185px;
}
.activitiesImgWrapperSmall {
    height: 100px;
}
.activitiesImgWrapperMiddle {
    height: 145px;
}
.activitiesImgWrapper img {
    width: 100%;
    min-height: 350px;
    object-position: 50% 50%;
    object-fit: cover;
} 
.activitiesImgWrapperSmaller img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: 0px -80px;
}
.activitiesImgWrapperMiddle img, .activitiesImgWrapperSmall img {
    width: 100%;
    height: auto;
    object-position: bottom;
    object-fit: cover;
}
 .textSpaseAround {
    margin: 12px;
}
.container {
    display: flex;
    max-width: 992px;
    margin: auto;
    justify-content: flex-start;
}

.strongTextFooter {
    margin-bottom: 17px;
    font-weight: 900;
}