:root {
    --main-gray-bg-color: #F2F2F2;
    --chart-color: #0065FC;
    --lighter-chart-color: #DEEBFF;
    --main-font-family: 'Raleway', sans-serif;
}

body {
    font-family: var(--main-font-family);
    max-width: 992px;
    display: block;
    margin: auto;
    font-size: 14px;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: var(--chart-color);
}
a.active {
    border-top: 3px solid var(--chart-color);
    color: var(--chart-color);
}
li {
    list-style: none;
    margin-bottom: 7px;
}
h1{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 0;
}
footer {
    padding: 5px;
    background-color: var(--main-gray-bg-color);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 20px;
}
.navLinks {
    display: flex;
    justify-content:flex-end;
}
.navLinkAccomodations {
    margin: 15px;
    padding: 20px;
}
.navLinkActivities {
    margin: 15px;
    padding: 23px;
}
.form {
    display: inline-block;
    align-items: center;
    margin: 15px 0 15px 0;
}
.form span {
    height: 14px;
    padding: 3px 0px 4px 6px;
    background-color: var(--main-gray-bg-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid var(--main-gray-bg-color);
}
.form input {
    height: 15px;
    padding: 4px 10px 4px 4px;
    border-left:none;
    border-right: none;
    border-top: 2px solid var(--main-gray-bg-color);
    border-bottom: 2px solid var(--main-gray-bg-color);
}
input:focus {
    outline: none;
}
.form a.button {
    padding: 3px 4px 4px 4px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--chart-color);
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid var(--chart-color);
    position: relative;
    left: -7px;
}
.form a.button:hover {
    background-color: var(--lighter-chart-color);
    color: var(--chart-color);
    border: 2px solid var(--lighter-chart-color);
    font-weight: 600;
}
.smallText {
    font-size: 11px;
    margin: 10px 0px;
}
.container {
    display: flex;
    justify-content: flex-start;
    margin-right: 30px;
}
.strongTextFooter {
    margin-bottom: 17px;
    font-weight: 900;
}