:root {
    --main-gray-bg-color: #F2F2F2;
    --chart-color: #0065FC;
    --lighter-chart-color: #DEEBFF;
    --main-font-family: 'Raleway', sans-serif;
}

body {
    font-family: var(--main-font-family);
    max-width: 992px;
    display: block;
    margin: auto;
    font-size: 14px;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: var(--chart-color);
}
li {
    list-style: none;
    margin-bottom: 7px;
}
h1{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 0;
}
footer {
    padding: 5px;
    background-color: var(--main-gray-bg-color);
}
.form {
    display: inline-block;
    margin: 15px 0 15px 0;
    border: 2px solid var(--main-gray-bg-color);
    border-radius: 4px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 20px;
}
.navLinks {
    display: flex;
    justify-content:flex-end;
}
.navLinkAccomodations {
    margin: 15px;
    padding: 20px;
}
.navLinkActivities {
    margin: 15px;
    padding: 23px;
}
a.active {
    border-top: 3px solid var(--chart-color);
    color: var(--chart-color);
}
.container {
    display: flex;
    justify-content: flex-start;
    margin-right: 30px;
}
.strongTextFooter {
    margin-bottom: 17px;
    font-weight: 900;
}